html, body {
    margin:0;
    padding:0;
}
.title {
    display: flex;
    justify-content: center;
}

.pizza-container {
    background-image: url(assets/pizza.jpg);
    background-size: cover;
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
}

.logo {
    margin-left: 20%;
}

.form-container {
    background-image: url(assets/vieux-papier-parchemin-texture-fond-ecran_118047-11580.avif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    width: 100%;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    
}

.subtitle {
    margin : 0.5rem;
    width: 100%;
    margin-left: 30%;

}

.input-control {
    margin: 0.7rem;
    width: 100%;
    display: block;
    flex-direction: column;
}

select {
    width:50%;
}

.error {
    color: red;
    font-size: 15px;
    padding: 0.2rem;
    display: block
}


input {
    width : 50%;
    border: none;
}

label {
    font-weight: bold;
}

.button {
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 10px;
    font-size: 1.1rem;
    border: none;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.footer {
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: center;
}

.footer-text {
    margin: 0,5rem;
}

/* Media Queries */

@media only screen and (max-width: 500px) {

    .title {
    font-size: 1.5rem;
    }

    .subtitle {
    font-size: 0.9rem;
    }

    input, select {
        width : 100%;
        border: none;
    }

    label {
        font-size: 0.8rem;
    }

    .conditions {
        font-size: 0.7rem;
    }
    .footer-text {
        font-size: 0.8rem;
    }
    }