html, body {
    margin:0;
    padding:0;
}
.title {
    display: flex;
    justify-content: center;
}

.pizza-container {
    background-image: url(assets/pizza.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
}

.logo {
    margin-left: 20%;
}

.form-container {
    background-image: url(assets/vieux-papier-parchemin-texture-fond-ecran_118047-11580.avif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    width: 100%;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    
}

.subtitle {
    margin : 0.5rem;
    width: 100%;
    margin-left: 30%;

}

.input-control , .captcha {
    margin : 0.7rem;
    width: 100%;
    display: block;
}

.input-control.error {
    color: red;
    font-size: px;
    padding: 0.5rem;
    display: block
}

input {
    width : 50%;
    border: none;
}

label {
    font-weight: bold;
}

.button {
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: none;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.footer {
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: center;
}

.footer-text {
    margin: 0,5rem;
}